* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #2d2d2d;
  height: 100vh;
}

:root {
  --mainredcol: #e06262;
  --maingreycol: #686868;
  --mainblackcol: #000000;
}

.red-col {
  color: var(--mainredcol);
}

.grey-col {
  color: var(--maingreycol);
}

.black-col {
  color: var(--mainblackcol);
}

body,
html {
  margin: 0;
  padding: 0;
}

.container {
  height: 600px;
  width: 800px;
  background-color: #f2eecb;
  border-radius: 5px;

  padding: 23px;
}

.frame {
  border: 1px solid var(--mainblackcol);
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: flex-start;
}

.header-title {
  flex: 1;
  text-align: center;
  font-size: 3.6rem;
  color: var(--mainblackcol);
}

.header-btn {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  padding: 16px;
  background-color: unset;
  border: unset;

  cursor: pointer;
}

.header-btn.red-col:active {
  text-shadow: 1px 1px 2px var(--mainredcol);
}

.header-btn.grey-col:active {
  text-shadow: 1px 1px 2px var(--mainblackcol);
}
.add-btn.red-col:active {
  text-shadow: 1px 1px 2px var(--mainredcol);
}
.add {
  padding: 16px;
}

.add-form {
  display: flex;
  align-items: flex-start;
}

.add-input {
  background-color: unset;
  border: unset;
  outline: unset;
  border-bottom: 1px solid var(--mainredcol);

  padding: 0 64px;
  flex: 1;

  font-size: 1.8rem;
}

.add-btn {
  font-size: 1.8rem;
  padding: 16px;
  padding-right: unset;
  border: unset;
  background: unset;

  cursor: pointer;
}

.todos {
  display: flex;
  flex-direction: column;
}

.todo {
  position: relative;

  flex: 1 0 auto;
  text-align: center;

  min-height: 34px;
  margin: 16px 0 0;
  font-size: 24px;

  border-bottom: 1px solid var(--mainredcol);
}

todo-txt {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
